{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-class-properties", {
      "loose": true
    }],
    ["@babel/plugin-transform-object-rest-spread", {
      "loose": true
    }],
    ["babel-plugin-styled-components", {
      "fileName": "false"
    }]
  ]
}
